@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');



:root{
    --cor1: #084B83;
    --cor2: #E2FCEF;
    --cor3: #B4656F;
    --cor4: #948392;
    --cor5: #39A0ED;

    --fonte1:Arial, Helvetica, sans-serif;
    --fonte2: 'Lobster', cursive;
    --fonte3: 'Staatliches', cursive;
    --fonte4: 'Merriweather', serif;
}

body{
    background-color: var(--cor2);
    font-family: var(--fonte1);

}
header{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor5));
   
}
header > h1{
    text-align: center;
    padding: 10px;
    margin: 0px 0px 0px 10px;
    color: white;
    font-family: var(--fonte2);
    font-size: 3.5em;
}
header > p{
    text-align: center;
    padding: 10px;
    margin: 0px;
    color: white;
}
.dropdown ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: var(--fonte2);
    
}
.dropdown ul{
    background-color: var(--cor5);
    
}
.dropdown ul li{
    display: inline;
    position: relative;
    border-radius: 10px;
}
.dropdown ul li a{
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    transition: background 0.3s;
    border-radius: 10px;

}
.dropdown ul li a:hover{
   background-color: var(--cor1);
   border-radius: 10px;
}
/*sub menu*/
.dropdown ul ul{
    display: none;
    left: 0;
    position: absolute;
    width: 150px;
    border-radius: 0px 0px 10px 10px ;
}
.dropdown ul li:hover ul{
    display: block;
}
.dropdown ul ul li a{
    display: block;
   
}
body{
   margin: 0px;
}
main{
    background-color: white;
    margin: 0px;
    padding: 10px;
    margin-bottom: 5px;
    
    
}

h1, h2{
    color: black;
    font-size: 2em;
    font-family: var(--fonte2);
    margin-top: 0px;
    

}

p{
    font-family: var(--fonte1);
}
div{
    display: block;
}
section.imagem{
    background-image: url(midia/background-2.png);
    background-color: darkgray;
    padding-top: 25vh;
    padding-bottom: 25vh;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: var(--fonte3);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.489);
    

}
section.imagem > p{
    margin-left: 50px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.217);
    color: white;
    display: inline-block;
    font-family: var(--fonte3);
}
footer{
    background-color: var(--cor1);
    padding: 15px;
}    
footer > p{
    
    color: white;
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-decoration: none;
}
footer > p > a{
    text-decoration: none;
    color: white;
}

footer > p > a:hover{
    text-decoration: underline;
}
